latex/mestrado.pdf
codes/R/Rplots.pdf

*.swp*

# Não versionar arquivos que podem ser recriados no projeto:
outputs/*
!outputs/README.md

# Arquivos temporários do linux:
*~

# Arquivos gerados pelo R:
.RData*
.Rhistory*
.Rproj.user

# Arquivos gerados pelo latex:
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.nls

# Microsoft
*.xls
